<div id='mainPageVueModel'>

    <top-bar>
        <template v-slot:page-type>홈</template>
    </top-bar>

    <super-container>

        <layout-block>
            <div class='searchCenterGuide allCenterContainer'>
                <div class='searchWrappper'>
                    <elastic-textbox
                    v-model='searchText'
                    class='searchTextbox'
                    v-on:keyup.enter.native='updateArtworkList'>
                    </elastic-textbox>
                    <elastic-button
                    class='searchButton'
                    id='searchButton'
                    @click.native='updateArtworkList'
                    :style='searchButtonStyle'
                    v-guide-alert='"검색어가 비어 있거나 방금 전 그대로라면, 검색하는 대신 단순히 나열해 드립니다"'>
                    </elastic-button>
                </div>
            </div>
        </layout-block>

        <layout-block>
            <transition-group
            tag='div'
            class='fillHundred'
            v-on:before-enter="itemBeforeEnter"
            v-on:enter="itemEnter"
            v-on:leave="itemLeave"
            appear>
                <div
                v-for='(artwork, index) in artworkList'
                :key='artwork.id'
                :data-index="index"
                :class=
                '{artworkLinkButtonWrapper: !isSmallScreen,
                artworkLinkButtonWrapperSmallScreen: isSmallScreen}'>
                    <div class='artworkLinkButtonPadder'>
                        <div class='artworkLinkButtonRatio'>
                        </div>
                        <div class='artworkLinkButtonSizer'>
                            <elastic-button
                            class='fillHundred'
                            :link-to='"/artwork/"+artwork.id'>
                                <img
                                :src='artwork.thumbnail'
                                class='artworkLinkImage'>
                                <div class='artworkLinkTitle'>
                                    {{ artwork.title }}
                                </div>
                                <div class='artworkLinkAuthor smallText'>
                                    {{ artwork.userAlias }}
                                </div>
                                <div class='artworkLinkId smallText'>
                                    {{ artwork.id }}
                                </div>
                            </elastic-button>
                        </div>
                    </div>
                </div>
            </transition-group> 
        </layout-block>
        
    </super-container>
</div>

<style>
    .fillParent{
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    .overfillParent{
        position: absolute;
        top: -3px;
        bottom: -3px;
        left: -3px;
        right: -3px;
    }
    .fillHundred{
        width: 100%;
        height:100%;
        margin: 0px;
    }
    .allCenterContainer{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .smallText{
        font-size:7pt;
    }
    .bigText{
        font-size:14pt;
    }
    .titleText{
        font-size:28pt;
    }
    .forceCenterOrigin{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .artworkLinkImage{
        display:inline-block;
        width: 100%;
        height: 75%;
        background-color: rgba(0,0,0,0.1);
        border-radius: 0px;
    }
    .artworkLinkTitle{
        display:inline-flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-top: 7px;
        width: 100%;
        height: 13%;
        overflow: hidden;
    }
    .artworkLinkAuthor{
        display:inline-flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-bottom: 7px;
        width: 100%;
        height: 12%;
        overflow: hidden;
    }
    .artworkLinkId{
        position: absolute;
        top: 6px;
        left: 6px;
        width: 20px;
        height: 20px;
        border-radius: 1000px;
        display:inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
    }
    .createArtworkButton{
        position: fixed;
        z-index: 20 !important;
        width: 140px;
        right: 14px;
        bottom: 14px;
        background-color: #5500ff;
        border-radius: 1000px;
    }
    .createInputs{
        width: 100%;
        max-width: 360px;
    }
    .createInputsTall{
        width: 100%;
        max-width: 360px;
        height: 240px;
    }
    .previewImage{
        width: 100%;
        max-width: 360px;
        height: 360px;
    }
    .searchCenterGuide{
        width: 100%;
        height: 100%;
    }
    .searchWrappper{
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 500px;
        padding: 30px;
    }
    .searchTextbox{
        position: relative;
        border-radius: 1000px;
        width: 100%;
        height: 60px;
    }
    .searchButton{
        position:absolute;
        z-index:3 !important;
        border-radius: 1000px;
        right: 36px;
        top: 36px;
        background-image: url(/svg-icons/search.svg);
    }
    .createFinalButton{
        background-color: #000000;
        width: 100%;
        max-width: 120px;
    }
    .searchBlockArea{
        height:120px;
    }
    .whiteText{
        color: #ffffff;
    }
    .artworkLinkButtonWrapper{
        width: 200px;
        position: relative; 
        display: inline-block;
        padding: 6px;
    }
    .artworkLinkButtonWrapperSmallScreen{
        width: 50%;
        position: relative; 
        display: inline-block;
        padding: 6px;
    }
    .artworkLinkButtonPadder{
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    .artworkLinkButtonRatio{
        margin-top: 100%; /* 1:1 Aspect Ratio */
    }
    .artworkLinkButtonSizer{
        top: 0px;
        left: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
    }
</style>