@viewport {
  width: device-width;
  user-zoom: fixed
}

;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

/* ■■■■■■ 태그별 전역(Global) 기본 스타일 ■■■■■ */

* {
  font-family: 'Noto Sans KR';
  font-size: 10pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none; //클릭시 버튼에 테두리 나오는 기본효과 제거
  text-transform: none !important; //Vuetify 컴포넌트의 자동 대문자화 또는 소문자화 방지
  background-size: cover; // 이미지가 요소(Element)를 꽉 채우도록
}

html,
body {
  overflow: overlay; // 스크롤바가 영역을 차지하지 않고 단순히 얹히기만 하도록
}

a {
  cursor: default;
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

img {
  object-fit: cover;
}


/* ■■■■■■ 여기서부턴 웹브라우저별로 다르고 쓸데없게 존재하는 잡다한 UI 통일하고 제거하는 역할 ■■■■■ */


::selection {
  background: rgba(0, 0, 0, 0.5);
}

input::-ms-clear {
  display: none;
  /* 이건 인터넷익스플로러에서 입력상자에서 나타나는 쓸데없는 아이콘들 없애는 역할*/
}

input::-ms-reveal {
  display: none;
  /* 이건 인터넷익스플로러에서 입력상자에서 나타나는 쓸데없는 아이콘들 없애는 역할*/
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  /* 세로축 스크롤바 길이 */
  height: 8px;
  /* 가로축 스크롤바 길이 */
  /*스크롤바 모양 수정(webkit 기반 브라우저)*/
  /*http://jsfiddle.net/smutnyleszek/t4q7o36r*/
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(127, 127, 127, 0);
  border-radius: 0px;

  &:hover {
    background-color: rgba(127, 127, 127, 0.3);
  }

  /*스크롤바 움직임 영역 모양 수정(webkit 기반 브라우저)*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: rgba(127, 127, 127, 0.3);

  &:hover {
    background-color: rgba(127, 127, 127, 0.6);
  }

  /*스크롤바 막대 모양 수정(webkit 기반 브라우저)*/
}