/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
▶▶테마
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

$themeProperties: (
  "primary",
  "secondary",
  "anchor",
  "accent",
  "error",
  "info",
  "success",
  "warning",
  "backdrop",
  "area",
  "stuff"
);

@each $property in $themeProperties {
  #app .#{$property} {color: var(--v-#{$property}-text)}
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
▶▶자잘자잘한 공통요소에 적용하기
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
//#app을 붙임으로써 <div id="app"> 최상단 Element의 빽을 업고 우선권이 최고가 됨.
//그래도 우선권이 !important 붙인 경우보다는 낮음

#app .v-icon {
  color: inherit;
}

#app .v-btn {
  text-transform: none; //자동 대문자화 또는 소문자화 방지
  font-size: 1rem;
  letter-spacing: 0em;
}

#app .v-card__actions {
  padding: 8px 16px 16px;
}

#app .v-card {
  background-color: var(--v-area-base);
}

#app .v-card__text {
  overflow: overlay;
}

#app .v-overlay {
  top: -400px;
  bottom: -400px;
  left: -400px;
  right: -400px;
}

#app .v-toolbar__content {
  padding: 4px;
}

#app .v-stepper__wrapper {
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app .v-stepper__wrapper {
  color: inherit;
}

#app .v-label {
  font-size: 1rem;
}

#app .v-label--active {
  transform: translateY(-8px) scale(0.75);
}

#app .v-expansion-panel-header {
  font-size: 1rem;
}

