//크롬의 개발자 도구에서 보면서 수정하길 권장함

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
▶▶모든 상황의 컴포넌트에 덮어쓰기
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
//#app을 붙임으로써 <div id="app"> 최상단 Element의 빽을 업고 우선권이 최고가 됨.
//그래도 우선권이 !important 붙인 경우보다는 낮음

#app .v-icon {
  color: inherit;
}

#app .v-btn {
  text-transform: none; //자동 대문자화 또는 소문자화 방지
  font-size: 1rem;
  letter-spacing: 0em;
}

#app .v-card {
  background-color: var(--v-area-base);
}

#app .v-overlay {
  top: -400px;
  bottom: -400px;
  left: -400px;
  right: -400px;
}

#app .v-toolbar__content {
  padding: 4px;
}

#app .v-stepper__wrapper {
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app .v-label {
  font-size: 1rem;
}

#app .v-label--active {
  transform: translateY(-8px) scale(0.75);
}

#app .v-expansion-panel-header {
  font-size: 1rem;
}

#app .col {
  padding: 6px 12px;
}

#app .v-pagination__item {
  font-size: 1rem;
  background-color: var(--v-stuff-base);
}