/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
▶▶Webkit 기반 브라우저의 못생긴 스크롤바 개선
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
* {
  &::-webkit-scrollbar {
    //스크롤바 모양 수정(webkit 기반 브라우저)
    width: 6px;
    // 세로축 스크롤바 길이
    height: 6px;
    // 가로축 스크롤바 길이
  }

  // Track
  &::-webkit-scrollbar-track {
    background: rgba(82, 82, 82, 0);
    border-radius: 0px;

    &:hover {
      background-color: rgba(82, 82, 82, 0.3);
    }

    //스크롤바 움직임 영역 모양 수정(webkit 기반 브라우저)
  }

  // Handle
  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: rgba(82, 82, 82, 0.3);

    &:hover {
      background-color: rgba(82, 82, 82, 0.6);
    }

    //스크롤바 막대 모양 수정(webkit 기반 브라우저)
  }

  &::-webkit-scrollbar-button:single-button {
    background-color: rgba(0,0,0,0);
    height: 22px; //위아래 화살표 길이
    width: 22px; //좌우 화살표 길이
  }
}

html,
body,
.v-dialog {
  overflow: overlay; // 스크롤바가 영역을 차지하지 않고 위에 겹쳐 얹히기만 하도록
}