/* 이 파일에 있는 변수들은 웹팩이 vuetify 컴포넌트 설정을 덮어씌우는 데에 사용함 */
/* https://vuetifyjs.com/en/features/sass-variables/ */

// Globals
$body-font-family: "Noto Sans KR", "맑은 고딕", sans-serif;
$heading-font-family: "Noto Sans KR", "맑은 고딕", sans-serif;
$font-size-root: 11pt;
$border-radius-root: 14px;

$btn-sizes: (
  "x-small": 28,
  "small": 36,
  "default": 44,
  "large": 52,
  "x-large": 60,
);

$fab-sizes: (
  "x-small": 28,
  "small": 36,
  "default": 44,
  "large": 52,
  "x-large": 60,
);

$headings: (
  "h1": (
    "size": 6rem,
    "weight": 500,
    "line-height": 9rem,
    "letter-spacing": 0em,
    "font-family": $heading-font-family,
    "text-transform": none,
  ),
  "h2": (
    "size": 4.2rem,
    "weight": 500,
    "line-height": 6.4rem,
    "letter-spacing": 0em,
    "font-family": $heading-font-family,
    "text-transform": none,
  ),
  "h3": (
    "size": 3rem,
    "weight": 500,
    "line-height": 4.5rem,
    "letter-spacing": 0em,
    "font-family": $heading-font-family,
    "text-transform": none,
  ),
  "h4": (
    "size": 2.4rem,
    "weight": 500,
    "line-height": 3.6rem,
    "letter-spacing": 0em,
    "font-family": $heading-font-family,
    "text-transform": none,
  ),
  "h5": (
    "size": 2rem,
    "weight": 500,
    "line-height": 3rem,
    "letter-spacing": 0em,
    "font-family": $heading-font-family,
    "text-transform": none,
  ),
  "h6": (
    "size": 1.6rem,
    "weight": 500,
    "line-height": 2.4rem,
    "letter-spacing": 0em,
    "font-family": $heading-font-family,
    "text-transform": none,
  ),
  "subtitle-1": (
    "size": 1.4rem,
    "weight": 500,
    "line-height": 2.1rem,
    "letter-spacing": 0em,
    "font-family": $body-font-family,
    "text-transform": none,
  ),
  "subtitle-2": (
    "size": 1.2rem,
    "weight": 500,
    "line-height": 1.8rem,
    "letter-spacing": 0em,
    "font-family": $body-font-family,
    "text-transform": none,
  ),
  "body-1": (
    "size": 1rem,
    "weight": 500,
    "line-height": 1.5rem,
    "letter-spacing": 0em,
    "font-family": $body-font-family,
    "text-transform": none,
  ),
  "body-2": (
    "size": 0.92rem,
    "weight": 500,
    "line-height": 1.38rem,
    "letter-spacing": 0em,
    "font-family": $body-font-family,
    "text-transform": none,
  ),
  "button": (
    "size": 1rem,
    "weight": 500,
    "line-height": 1.5rem,
    "letter-spacing": 0em,
    "font-family": $body-font-family,
    "text-transform": none,
  ),
  "caption": (
    "size": 0.84rem,
    "weight": 500,
    "line-height": 1.26rem,
    "letter-spacing": 0em,
    "font-family": $body-font-family,
    "text-transform": none,
  ),
  "overline": (
    "size": 0.84rem,
    "weight": 500,
    "line-height": 1.26rem,
    "letter-spacing": 0em,
    "font-family": $body-font-family,
    "text-transform": none,
  ),
);
